
.customgrid_child-container {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #76c0ca;
}

.customgrid-container{
    background-color: #ebfafc;
}

.custom-col-layout-2{
    max-width: 50%;
}
.custom-col-layout-3{
    max-width: 33%;
}
.custom-component-message{
    text-align: center;
}
