scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/aemlab-spa
        create path (nt:unstructured) /content/dam/aemlab-spa/jcr:content
        set properties on /content/dam/aemlab-spa/jcr:content
        set cq:conf{String} to /conf/aemlab-spa
        set jcr:title{String} to \"AEMLAB SPA\"
        end
        "
]
